{% import "_macros.html" as macro %}
{% extends "_layout.html" %}

{% block head_script %}
{{ macro::include_jquery() }}
{% endblock %}

{% block title %}
{{ super() }}: {{ title }}
{% endblock %}

{% block main %}
{% if paginator and include_jump %}
{{ macro::jump_paginator(url = url, paginator = paginator, series = paginator_series, page = paginator_page) }}
{% endif %}
{{ macro::flat_books_container_panel(url = url, container = container, flat_books_map = flat_books_map) }}
{% if paginator %}
{{ macro::pagination(url = url, paginator = paginator, series = paginator_series, page = paginator_page, items = paginator_items) }}
{% endif %}
{% endblock %}

{% block script %}
<script blocking="render" src="/static/script/collapsing-cards.js"></script>
{% endblock %}
